<div class="collapsible" data-view="Collapsible">
    <div data-trigger="example">Trigger 1</div>
    <div class="collapsible-panel collapsed" data-panel="example">
        <div class="collapsible-panel-content">
            Target 1 Content
        </div>
    </div>

    <br><br><br>

    <div data-trigger="Other tab">Trigger 2</div>
    <div class="collapsible-panel collapsed" data-panel="Other tab">Target 2 Content</div>

    <br><br><br>

    <div class="js-drawerTrigger" data-trigger="thirdTab">Trigger 3</div>
    <div class="collapsible-panel collapsed" data-panel="thirdTab">Target 3 Content</div>
</div>